# Django
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1,testserver

# KoBoToolbox
KOBO_API_URL=https://kf.kobotoolbox.org/api/v2
KOBO_TOKEN=
KOBO_ASSET_NECESIDADES=
KOBO_ASSET_DONACIONES=
KOBO_WEBHOOK_TOKEN=
KOBO_PULL_LIMIT=500
